/* CAROUSEL STYLES */
.carousel {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.carousel-container {
    display: flex;
    justify-content: space-between;
}

.carousel-container .btn-prev, .carousel-container .btn-next{
    width: 4%;
    margin: 0 auto;
    font-size: 2em;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border: rgba(0, 0, 0, 0.411) solid 1px;
}

.carousel-container .btn-prev:hover, .carousel-container .btn-next:hover{
    background-color: var(--secondary);
    color: var(--primary);
}


@media screen and (max-width: 968px) {

    .carousel-container .btn-prev, .carousel-container .btn-next{
        width: 6%;
        border-radius: 5px;
    }

    .carousel-container .btn-next{
        margin: 0 auto 0 0.5em;
    }

    .carousel-container .btn-prev {
        margin: 0 0.5em 0 auto;
    }
}